/* section 01 */

#min0 {
    display: flex;
    background-color: #2F1016;
    color: white;
    justify-content: space-between;
    padding: 0px 35px;
    align-items: center;


}

#min1 {
    width: 50%;
    font-size: 40px;

}

body {
    margin: 0px;
}

#min2>ul>li {
    list-style: none;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 20px;

}

#min2>ul>li:hover {
    background-color: #F3961C;


}

#min2 {
    width: 60%;
}

#min2>ul {
    display: flex;
    align-items: center;

}


/* section 02 */

#stp0 {
    display: flex;

    background-color: #2F1016;

}

#stp1>h2 {
    color: #F3961C;
    font-size: 30px;
}

#stp1>h1 {
    color: white;
    font-size: 40px;
}

#stp1>p {
    color: white;
    font-size: 25px;
}

#stp4 {
    background-color: #F3961C;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    padding: 8px 28px;
    border: 2px solid #F3961C;
}

#stp3 {
    background-color: #2F1016;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    padding: 8px 28px;
    color: white;
    margin-left: 10px;

}

#stp1 {
    padding: 10px 50px;
    margin: 80px auto;
    width: 40%;

}

#stp2>img {
    width: 60%;
    padding: 93px 96px;
    margin-left: 91px;
}

#stp4:hover {
    background-color: #2F1016;
    border: 2px solid white;
    color: white;
}

#stp3:hover {
    background-color: #F3961C;
    color: rgb(7, 6, 6);
    border: 2px solid #2F1016;


}

/* section 03 */
#sdm0 {
    display: flex;
}

#underline-a {
    background-color: #F3961C;
    width: 18%;
    height: 5px;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 15px;
}

#sdm1>img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

#sdm1 {
    padding: 50px 20px 20px 30px;
}

#sdm3>h1 {
    font-size: 40px;
    padding: 32px 0px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
}

#sdm3 {
    width: 40%;
    margin: 0 auto;

}

#sdm3>p {
    width: 600px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 550;
}

/* section 04 */
#fdff0 {
    background-color: #252525;
    color: white;

}

#underline {
    background-color: #F3961C;
    width: 8%;
    height: 5px;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 15px;
}

#fdff1>h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0px;
    padding-top: 60px;
}

#fdff1 {
    padding-bottom: 70px;
}

#fdff2 {
    display: flex;
    padding: 0px 20px;

}

#fdff3 {
    width: 30%;
    padding: 10px 30px;
}

#fdff4 {
    width: 30%;
    padding: 10px 30px;
}

#fdff5 {
    width: 30%;
    padding: 10px 30px;
}

#fdff2>div>img {
    width: 80%;
    height: 301px;
}

#fdff4>img {
    height: 301px;


}

#fdff2>div>h3 {
    text-align: center;
    margin: 12px 0px;
    font-size: 25px;
}

#fdff2>div>p {
    text-align: center;
    font-size: 18px;
}

/* section 05 */
body {
    margin: 0 auto;
}

#a1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#under {
    width: 10%;
    height: 5px;
    background-color: #f3961c;
    margin: -15px auto 60px;
    border-radius: 8px;
}

#a2 {
    display: flex;
    width: 90%;
    margin: 27px auto;
}

#a2>div {
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
}

#a2>div>img {
    width: 100%;
    border-radius: 10px;
    cursor: zoom-in;
    height: 210px;
}

#a2>div>img:hover {
    transform: scale(1.2);
    transition: .5s ease;
}

/* section 06 */
#testimonialsmd{
    width: 100%;
    margin: 0 auto;
}
#testimonials h1{
    text-align: center;
}
#under_t {
    width: 15%;
    height: 5px;
    background: #F3961C;
    margin: 0 auto;
    border-radius: 10px;
}
#tmd {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#td1>img {
    width: 45%;
    border-radius: 50%;
    margin: -20px auto;
    padding: 20px;
    margin-left: 20px;
}

#td1>h3 {
    text-align: center;
}

#td1>p {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

#td1 {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#tmd {

    margin: 50px auto;
}

/* section 07 */
#contact_us {
    background-color: #F2F2F2;
    width: 95%;
    margin: 0 auto;
}

#ffdtd {
    text-align: center;
    padding: 50px 0px;
}

#cmd2 {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

#cd {
    width: 50%;
}

#cd>ul>li {
    font-size: 22px;
    padding: 10px 0px;
}

#cmd3 {
    width: 50%;


}

#cmd3>form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#cmd3>form>input,
textarea {

    padding: 15px;
}

#cmd3>form>#submit {
    border-radius: 30px;
    padding: 10px 10px;
    width: 25%;
    border: 1px solid #3B141C;
    background: #3B141C;
    color: white;
    font-size: 20px;
}

#cmd3>form>#submit:hover {
    border: 1px solid #3B141C;
    background: #F2F2F2;
    color: #3B141C;
    cursor: pointer;
}

#cmd3>form>#text,
#mail,
textarea {
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid silver;
}

#self {
    width: 5%;
    height: 5px;
    background-color: chocolate;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -19px;
    margin-bottom: 20px;
}


/* about us page responsive */

/*@media (max-width: 480px) {
    #min0{
        display: none;
    }
    #stp0{
        display: none;
    }
    
    #sdm0{
        flex-direction: column-reverse;
        margin: 0 auto;
    }
   #sdm1{
        margin: 0 auto;
   }
    #sdm1 img{
        width: 220px;
        height: 220px;
    }
    #sdm3{
        width: 100%;
    }
    #sdm3 h1{
        font-size: 30px;
    }#sdm3 p{
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
    }
    #underline-a{
        width: 30%;
        margin-bottom: 40px;
    }

}
  */
/* skdjaisjdisjdsosados */

@media (max-width: 480px) {
    #min0 {
        display: none;
    }

    #stp0 {
        display: none;
    }

    #sdm0 {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    #sdm1 {
        margin: 0 auto;
    }

    #sdm1 img {
        width: 220px;
        height: 220px;
    }

    #sdm3 {
        width: 100%;
    }

    #sdm3 h1 {
        font-size: 30px;
    }

    #sdm3 p {
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
    }

    #underline-a {
        width: 30%;
        margin-bottom: 40px;
    }

    /* this is testimonials section */
    #tmd {
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        padding: 40px 0px;
    }

    #tmd>#td1 img {
        width: 230px;
        height: 230px;
    }

    #td1 {
        width: 80%;
        margin: 0 auto;
        align-items: center;
        padding: 30px 0px;
    }

    #testimonials h1 {
        text-align: center;
        margin: 50px 0px 10px 0px;
    }

    #under_t {
        width: 40%;
        height: 5px;
        background: #F3961C;
        margin: 0 auto;
        border-radius: 10px;
    }

}

/* this is testimonials section */

@media(max-width:450px) {
    #cmd2 {
        flex-direction: column-reverse;
        width: 95%;
        margin: 0 auto;
    }

    #cmd3 {
        width: 100%;
    }

    #cd {
        width: 100%;
    }

    #cmd3>form>#submit {
        padding: 17px 15px;
        width: 50%;

    }

    #self {
        width: 30%;
        margin-top: -11px;
    }

    /* gallery section start form here */
    #a1 {
        margin: 0 auto;
    }

    #a2 {
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #a2 div {
        width: 85%;
        margin-top: 25px;
    }

    #under {
        width: 20%;
    }

    /* Menu section start form here */
    #fdff2 {
        flex-direction: column;
        width: 100%;

    }

    #fdff2 {
        width: 95%;
    }

    #fdff2>div {
        width:85%;
        margin: 0 auto;
        text-align: center;
    }

    #fdff2>div>p {
        width: 80%;
        text-align: center;
    }

    #fdff2>div>h3 {
        text-align: center;
        width: 100%;
    }
}